Source: ipu6-icamerasrc
Section: libs
Priority: optional
Build-Depends:
 debhelper-compat (= 12),
 libcamhal-dev,
 libgstreamer1.0-dev,
 libgstreamer-plugins-base1.0-dev
Standards-Version: 4.5.0
Maintainer: Commercial Engineering <commercial-engineering@canonical.com>
Vcs-Browser: https://github.com/intel/ipu6-camera-hal
Vcs-Git: https://github.com/intel/ipu6-camera-hal.git

Package: gstreamer1.0-plugins-icamerasrc
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: shared libraries of gst plugin for ipu6 camera

Package: gstreamer1.0-plugins-icamerasrc-dev
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 libcamhal-dev,
 gstreamer1.0-plugins-icamerasrc (= ${binary:Version}),
Description: libtool library files of gst plugin for ipu6 camera
